<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div class="question"><%= question %></div>
<ul class="answer_table">
    <li class="answer_box" id="answer_1"><%= answer1 %></li>
    <li class="answer_box" id="answer_2"><%= answer2 %></li>
    <li class="answer_box" id="answer_3"><%= answer3 %></li>
    <li class="answer_box" id="answer_4"><%= answer4 %></li>
</ul>
</body>
</html>